{% extends 'MainApp/Layout.html' %}
{% load static %}
{% block title %}
  Change Password
{% endblock %}
{% block main-content %}

<section>
  <div class="container my-5">
    <div class="row">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="message-{{ forloop.counter }}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <script>
            // Automatically close the message after 5 seconds
            setTimeout(function () {
              var messageElement = document.getElementById('message-{{ forloop.counter }}')
              if (messageElement) {
                messageElement.classList.remove('show') // Hide the alert
                messageElement.classList.add('fade') // Ensure fade effect
              }
            }, 5000) // 5000ms = 5 seconds
          </script>
        {% endfor %}
      {% endif %}

      <div class="col-sm-9 offset-sm-1">
        <form action="" method="post" novalidate class="shadow-sm p-5">
          {% csrf_token %}

          {% for fm in form %}
            <div class="form-group mb-3 {% if fm.errors %}is-invalid{% endif %}">
              {{ fm.label_tag }} {{ fm }}
              <small class="text-danger">{{ fm.errors|striptags }}</small>
            </div>
          {% endfor %}

          <button type="submit" class="btn btn-primary">Set New Password</button>
          <a href="{% url 'profile' %}" class="btn btn-secondary ml-2">Back</a>

          {% if form.non_field_errors %}
            <div class="alert alert-danger my-3">
              {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
