{% extends "Authentication/layout.html" %}
{% load static %}
{% block title %}Set New Password{% endblock %}
{% block form_page %}
<form action="#" method="POST" autocomplete="off" class="sign-in-form" novalidate>
    {% csrf_token %}
    <div class="logo">
        <img src="{% static 'Authentication/images/logo.png' %}" alt="easyclass" style="height:7vh;width:auto;" />
        <h4>Gauley</h4>
    </div>

    <div class="heading">
        <h3>Set New Password</h3>
        
    </div>

    <div class="actual-form">
        <div class="input-wrap">
            <input type="password" name="new_password1" minlength="4" class="input-field" autocomplete="off" />
            <label>New Password</label>
        </div>

        <div class="input-wrap">
            <input type="password" name="new_password2" minlength="4" class="input-field" autocomplete="off" />
            <label>New Confirm Password</label>
        </div>

        <input type="submit" value="Set New Password" class="sign-btn" />

        
    </div>
</form>
{% endblock %}