{% extends 'MainApp/Layout.html' %}
{% load static %}
{% block title %}
  Profile
{% endblock %}
{% block main-content %}

<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-8 mb-4 mb-lg-0">
        <div class="card shadow-sm" style="border-radius: 20px; border: 2px dotted rgba(255, 166, 0, 0.151);">
          <div class="row g-0">
            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="message-{{ forloop.counter }}">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          
              <!-- JavaScript to auto-close the alert after 5 seconds -->
              <script>
                setTimeout(function() {
                  var messageElement = document.getElementById('message-{{ forloop.counter }}');
                  if (messageElement) {
                    messageElement.classList.remove('show');
                    messageElement.classList.add('fade');
                  }
                }, 5000);  // 5000ms = 5 seconds
              </script>
            {% endfor %}
          {% endif %}
          
            <form action="" method="POST" enctype="multipart/form-data" novalidate>
              {% csrf_token %}

              <div class="col-12">
                <div class="card-body p-4">
                  <h6 class="text-center mb-4">Information Update</h6>

                  <hr class="mt-0 mb-4" />

                  {% for fm in form %}
                    <div class="row mb-3">
                      <div class="col-12 col-md-6">
                        <h6 class="text-muted">{{ fm.label_tag }}</h6>
                      </div>
                      <div class="col-12 col-md-6">{{ fm }}</div>
                    </div>
                  {% endfor %}

                  <hr class="mt-0 mb-4" />

                  <div class="row pt-3">
                    <div class="col-12 col-md-6 mb-3">
                      <button type="submit" class="btn btn-primary w-100">Update</button>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                      <button type="" class="btn btn-primary w-100">Back</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
