{% extends 'MainApp/Layout.html' %}
{% load static %}
{% block title %}
Cart
{% endblock %}
{% block main-content %}
<section class="py-5 overflow-hidden mt-3">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center mb-5 text-muted"></h1>
      <div class="col-sm-8">
        <div class="">
          <div class="card-boy">
            {% for cart in carts %}
            <div class="row cart-remove m-3">
              <div class="container">
                <h1 id="message"></h1>
              </div>
              <div class="col-sm-5 text-center align-self-center">
                <img src="{{ cart.product.first_product_image.url }}" alt="" srcset=""
                  class="img-fluid img-thumbnail m-2 p-2" height="200" width="200" />
              </div>
              <div class="col-sm-7">
                <div>
                  <h5>{{ cart.product.title }}</h5>
                  <p class="mb-2 text-muted small" style="text-align: justify;">
                    {{cart.product.description|truncatewords:45|safe }}</p>
                  <div class="my-3">
                    <label for="quantity">Quantity:</label>
                    <a class="minus-cart btn" pid="{{ cart.product.id }}"><i
                        class="fas fa-minus-square fa-lg fs-4"></i></a>
                    <span id="quantity">{{ cart.quantity }}</span>
                    <a class="plus-cart btn" pid="{{ cart.product.id }}"><i
                        class="fas fa-plus-square fa-lg fs-4"></i></a>
                    <a href="#" class="btn btn-sm btn-secondary mr-3 remove-cart" pid="{{ cart.product.id }}">Remove</a>
                  </div>
                  <div class="d-flex justify-content-between mb-5">
                    <p class="mb-0">
                      <span><strong>Rs.{{ cart.product.discount_price }}</strong></span>
                    </p>
                  </div>
                </div>
              </div>
              <hr>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="cad">
          <div class="card-boy">
            <h3 class="text-center" style="
                            font-family: 'Poiret One', serif;
                            font-weight: 400;
                            font-style: normal;
                          ">Total amount</h3>
            <ul class="list-group mb-3">
              {% for item in cart_details %}
              <li class="list-group-item d-flex justify-content-between lh-sm cart-item-{{ item.product.id }}">
                <div>
                    <strong>
                        <h6 class="my-0 text-muted">{{ item.product.title|truncatechars:25 }}</h6>
                    </strong>
                    <small class="text-body-secondary">qty.</small>
                    <small class="cart-qty text-body-secondary">{{ item.quantity }}</small> x
                    <small class="text-body-secondary">{{ item.discount_price }}</small>
                </div>
                <strong class="start-end">Rs. <span class="cart-subtotal text-body-secondary text-muted">
                  {{ item.subtotal }}
                </span></strong>
            </li>
            
              {% endfor %}

              <!-- Total and Shipping -->
              <li class="list-group-item d-flex justify-content-between mt-0 ">
                <strong><span class="text-dark">Total (Rs) + Shipping (Rs 10)</span></strong>
                <strong class="text-dark" id="total_amount">Rs. {{ total_cart_amount|add:10 }}</strong>
            </li>
            
            </ul>

            <div class="d-grid">
              <a href="{% url 'checkout'%}" class="btn btn-primary">Place Order</a>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="d-flex list-unstyled gap-3 p-32">
            <li class="d-inline text-end p-2">
              <img class="mt-5" src="{% static 'MainApp/images/khalti.png' %}" alt="Khalti"
                style="width: 45%; height: auto;" />
            </li>
            <li class="d-inline p-2">
              <img class="mt-5" src="{% static 'MainApp/images/esewa.png' %}" alt="Esewa"
                style="width: 50%; height: auto;" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}