<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <title>
    {% block title %}

    {% endblock %}| Gauley
  </title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.3.1/dist/js/coreui.min.js"
    integrity="sha384-Rj9po7KQz8y0hVoeRgl1LRoQcxYkHxszkpKUdatY+9b5o35FsiENOwOWwxzWfAfF"
    crossorigin="anonymous"></script>

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="{% static 'MainApp/css/bootstrap_icons.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'MainApp/css/swiper-bundle.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'MainApp/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'MainApp/css/vendor.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'MainApp/css/style.css' %}" />

  <link rel="icon" type="image/x-icon" href="{% static 'MainApp/images/logo/logo.png' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'MainApp/css/all.min.css'%}">
  <link rel="stylesheet" href="{% static 'MainApp/bootstrapicons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'MainApp/bootstrapicons/font/bootstrap-icons.min.css' %}">

</head>

<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <defs>
      <symbol xmlns="http://www.w3.org/2000/svg" id="link" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M12 19a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-right" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="category" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 24 24">
        <path fill="currentColor" d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19ZM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74a3.007 3.007 0 0 0-2.82-2H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2Zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7ZM16.5 19a1.5 1.5 0 1 0 1.5 1.5a1.5 1.5 0 0 0-1.5-1.5Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="check" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46l-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="trash" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M10 18a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1ZM20 6h-4V5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2ZM10 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1h-4Zm7 14a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8h10Zm-3-1a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="star-outline" viewBox="0 0 15 15">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="star-solid" viewBox="0 0 15 15">
        <path fill="currentColor"
          d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="search" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z" />
      </symbol>
      <symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 15 15">
        <path fill="currentColor"
          d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
      </symbol>
    </defs>
  </svg>
  <div class="preloader-wrapper">
    <div class="preloader"></div>
  </div>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
    <div class="offcanvas-header justify-content-center">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill"></span>
        </h4>
        <ul class="list-group mb-3">
          {% for item in cart_details %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <strong>
                <h6 class="my-0 text-muted">{{ item.product.title|truncatechars:25 }}</h6>
              </strong>
              <small class="text-body-secondary">qty.</small>
              <small class="text-body-secondary">{{ item.quantity }}</small> x
              <small class="text-body-secondary">{{ item.discount_price }}</small>
            </div>
            <strong class="start-end">Rs. <span class="text-body-secondary text-muted">
              {{ item.subtotal}}</span></strong>
          </li>
          {% endfor %}

          <!-- Total and Shipping -->
          <li class="list-group-item d-flex justify-content-between mt-0">
            {% if user.is_authenticated %}
            <strong><span class="text-dark">Total (Rs) + Service (Rs 10)</span></strong>
            <strong class="text-dark" id="total_amount">Rs. {{ total_cart_amount|add:10 }}</strong>
            {% else %}
            <strong><span class="text-dark">Total (Rs) </span></strong>
            <strong class="text-dark" id="total_amount">Rs. 0</strong>
            {% endif %}
          </li>
        </ul>
        <a href="{% url 'checkout' %}" class="w-100 btn btn-primary btn-lg">Continue to checkout</a>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasSearch"
    aria-labelledby="Search">
    <div class="offcanvas-header justify-content-center">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3"><span class="text-primary">Search</span></h4>
        <form role="search" action="index.html" method="get" class="d-flex mt-3 gap-0">
          <input class="form-control rounded-start rounded-0 bg-light" type="email"
            placeholder="What are you looking for?" aria-label="What are you looking for?" />
          <button class="btn btn-dark rounded-end rounded-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  <header>
    <div class="container-fluid">
      <div class="row py-3 border-bottom">
        <div class="col-12 col-sm-4 col-lg-3 d-flex justify-content-between align-items-center">
          <!-- Logo container (hidden on small screens) -->
          <div class="main-logo me-3 d-none d-sm-block">
            <a href="{% url 'home' %}">
              <img src="{% static 'MainApp/images/logo/nameLogo.png' %}" alt="logo" class="img-fluid logo-size"
                style="width: 100%; max-width: 150px;" />
            </a>
          </div>

          <ul class="navbar-nav d-flex align-items-center justify-content-center flex-grow-1">
            <li class="nav-item ">
              <a href="#" style="padding:11px;"
                class="rounded-circle bg-light mx-1 position-relative d-none d-md-inline" role="button" id="pages"
                data-bs-toggle="dropdown" aria-expanded="false">

                <!-- Bell Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bell fw-bold"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
                </svg>

                <!-- Notification Badge (Hidden on small devices) -->
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill d-none d-md-inline"
                  style="background-color: orange; font-size: 15px;">3</span>

              </a>


              <!-- Dropdown Menu -->
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="pages"
                style="background-color: transparent; border: none; max-height: 250px; overflow-y: auto;">

                <!-- Toasts -->
                <li>
                  <!-- Toast 1 -->

                  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <i class="bi bi-bell fs-4"></i>
                      <strong class="me-auto ms-1">Notifications</strong>
                      <small>11 mins ago</small>
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                    <div class="toast-body">
                      Hello, world! This is the third toast message.
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
          <div class="search-bar row bg-light p-2 my-2 rounded-4">
            <div class="col-md-4 d-none d-md-block">
              <select class="form-select border-0 bg-transparent">
                <option>All Categories</option>
                <option>Groceries</option>
                <option>Drinks</option>
                <option>Chocolates</option>
              </select>
            </div>
            <div class="col-11 col-md-7">
              <form id="search-form" class="text-center" action="{% url 'product_search' %}" method="GET">
                <input type="text" name="q" id="search-input" class="form-control border-0 bg-transparent"
                    placeholder="Search for more than 20,000 products" required autocomplete="off" />
                <div id="suggestions" style="position: absolute; background: white; z-index: 1000;"></div>
            </form>
            </div>
            <div class="col-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
              </svg>
            </div>
          </div>
        </div>
        <script>
          const searchInput = document.getElementById('search-input');
          const suggestionsBox = document.getElementById('suggestions');
      
          searchInput.addEventListener('keyup', function () {
              const query = searchInput.value;
      
              if (query.length > 1) {
                  fetch(`/autocomplete/?term=${query}`)
                      .then(response => response.json())
                      .then(data => {
                          suggestionsBox.innerHTML = '';
      
                          data.forEach(item => {
                              const suggestion = document.createElement('div');
                              suggestion.textContent = item.title;
                              suggestion.style.padding = '5px';
                              suggestion.style.cursor = 'pointer';
      
                              suggestion.addEventListener('click', () => {
                                  searchInput.value = item.title;
                                  suggestionsBox.innerHTML = '';
                              });
      
                              suggestionsBox.appendChild(suggestion);
                          });
                      });
              } else {
                  suggestionsBox.innerHTML = '';
              }
          });
      
          document.addEventListener('click', (e) => {
              if (!searchInput.contains(e.target)) {
                  suggestionsBox.innerHTML = '';
              }
          });
      </script>
        <div
          class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
          <div class="support-box text-end d-none d-xl-block">
            <span class="fs-6 text-muted">For Support?</span>
            <h5 class="mb-0">+980-8046983</h5>
          </div>

          <ul class="d-flex justify-content-end list-unstyled m-0 ms=2">
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'profile' %}" class="rounded-circle bg-light p-2 mx-1">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#user"></use>
                </svg>
              </a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'login' %}" class="rounded-circle bg-light p-2 mx-1">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#user"></use>
                </svg>
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{% url 'wishlist' %}" class="rounded-circle bg-light p-2 mx-1 position-relative">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#heart"></use>
                </svg>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill 
             fs-6 fs-sm-5 fs-md-5" style="background-color: orange;">
                  {{ total_wishlist_items }}
                </span>

              </a>
            </li>
            <li>
              <a href="{% url 'show_cart' %}" class="rounded-circle bg-light p-2 mx-1 position-relative">
                <!-- Cart Icon -->
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="#cart"></use>
                </svg>
            
                <!-- Cart Count Badge with Responsive Font Size -->
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill 
                             fs-6 fs-sm-4 fs-md-5"
                      style="background-color: orange;">
                    {{ cart_count }}
                </span>
            </a>
            
            </li>
            <li class="d-lg-none">
              <ul class="navbar-nav d-flex align-items-center justify-content-center flex-grow-1">
                <li class="nav-item ">
                  <a href="#" style="padding:11px;"
                    class="rounded-circle bg-light mx-1 position-relative " role="button" id="pages"
                    data-bs-toggle="dropdown" aria-expanded="false">
    
                    <!-- Bell Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bell fw-bold"
                      viewBox="0 0 16 16">
                      <path
                        d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
                    </svg>
    
                    <!-- Notification Badge (Hidden on small devices) -->
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill "
                      style="background-color: orange; font-size: 15px;">3</span>
    
                  </a>
    
    
                  <!-- Dropdown Menu -->
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="pages"
                    style="background-color: transparent; border: none; max-height: 250px; overflow-y: auto;">
    
                    <!-- Toasts -->
                    <li>
                      <!-- Toast 1 -->
    
                      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                          <i class="bi bi-bell fs-4"></i>
                          <strong class="me-auto ms-1">Notifications</strong>
                          <small>11 mins ago</small>
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                        <div class="toast-body">
                          Hello, world! This is the third toast message.
                        </div>
                      </div>
    
    
    
                    </li>
    
                  </ul>
                </li>
              </ul>
            </li>


            <li class="d-lg-none">
              <a href="#" class="rounded-circle bg-light p-2 mx-1" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#search"></use>
                </svg>
              </a>
            </li>
          </ul>

          <div class="cart text-end d-none d-lg-block dropdown">
            <button class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
              <span class="fs-6 text-muted dropdown-toggle">Your Cart</span>
              <span class="cart-total fs-5 fw-bold">Rs.{{ total_cart_amount|add:10 }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row py-3">
        <div class="d-flex justify-content-center justify-content-sm-between align-items-center">
          <nav class="main-menu d-flex navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar"><span class="navbar-toggler-icon"></span></button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
              aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header justify-content-center">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>

              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
                  <li class="nav-item active">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                  </li>

                  
                  <li class="nav-item">
                    <a href="{% url 'das' %}" class="nav-link">Brand</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" id="pages" data-bs-toggle="dropdown"
                      aria-expanded="false">Dashboard</a>
                    <ul class="dropdown-menu" aria-labelledby="pages">
                      <li>
                        <a href="{% url 'address' %}" class="dropdown-item">Profile</a>
                      </li>
                      <li>
                        <a href="{% url 'changepassword' %}" class="dropdown-item">Change password</a>
                      </li>
                      <li>
                        <a href="{% url 'profile' %}" class="dropdown-item">Update Details</a>
                      </li>
                      <li>
                        <a href="{% url 'order' %}" class="dropdown-item">Orders</a>
                      </li>


                      <li>
                        <a href=" {% url 'logout' %} " class="dropdown-item">Logout</a>
                      </li>
                    </ul>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a href="#sale" class="nav-link">Services</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'blog_post' %}" class="nav-link">Blog</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  {% comment %}This is for main content of app{% endcomment %}
  
  {% block main-content %}

  {% endblock %}
  <footer class="py-5 ">
    <div class="container-fluid px-0">
      <!-- Container-fluid with no horizontal padding -->
      <div class="row d-flex justify-content-between">

        <!-- First Column (Logo & Social Links) -->
        <div class="col-lg-2 col-md-4 col-sm-12 mb-4">
          <div class="footer-menu text-center">
            <img src="{% static 'MainApp/images/logo/nameLogo.png' %}" alt="logo" style="width: 150px;" />
            <div class="social-links mt-3">
              <ul class="d-flex list-unstyled justify-content-center gap-3">
                <li><a href="#" class="btn btn-outline-light"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#" class="btn btn-outline-light"><i class="bi bi-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/company/gauley/?viewAsMember=true"
                    class="btn btn-outline-light"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="#" class="btn btn-outline-light"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#" class="btn btn-outline-light"><i class="bi bi-tiktok"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Second Column (Contact Information) -->
        <div class="col-lg-2 col-md-4 col-sm-12 mb-4 d-none d-md-block">
          <div class="footer-menu">
            <h5 class="widget-title">Contact Us</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="mailto:info@example.com" class="nav-link"><i class="fas fa-envelope"></i> gauley@gmail.com</a>
              </li>
              <li class="menu-item">
                <a href="tel:+0123456789" class="nav-link"><i class="fas fa-phone"></i> +977-9808046983</a>
              </li>
              <li class="menu-item">
                <a href="https://www.google.com/maps?q=Simara,Bara,Nepal" target="_blank" class="nav-link"><i
                    class="fas fa-map-marker-alt"></i> Simara, Bara, Nepal</a>
              </li>
              <li class="menu-item">
                <a href="https://www.yourwebsite.com" target="_blank" class="nav-link"><i class="fas fa-globe"></i>
                  www.gauley.shop</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Third Column (Our Services) -->
        <div class="col-lg-2 col-md-4 col-sm-12 mb-4 d-none d-md-block">
          <div class="footer-menu">
            <h5 class="widget-title">Our Services</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item"><a href="#" class="nav-link"><i class="fas fa-truck me-2"></i> Fast Delivery</a>
              </li>
              <li class="menu-item"><a href="#" class="nav-link"><i class="fas fa-sync-alt me-2"></i> Easy Returns</a>
              </li>
              <li class="menu-item"><a href="#" class="nav-link"><i class="fas fa-cogs me-2"></i> 24/7 Support</a></li>
              <li class="menu-item"><a href="#" class="nav-link"><i class="fas fa-gift me-2"></i> Special Offers</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Fourth Column (Delivery Locations) -->
        <div class="col-lg-2 col-md-4 col-sm-12 mb-4 d-none d-md-block">
          <div class="footer-menu">
            <h5 class="widget-title">Delivery Locations</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item"><a href="#" class="nav-link"><i class="fas fa-map-marker-alt me-2"></i> Simara,
                  Nepal</a></li>
              <li class="menu-item"><a href="#" class="nav-link"><i class="fas fa-map-marker-alt me-2"></i> Birgunj</a>
              </li>
              <li class="menu-item"><a href="#" class="nav-link"><i class="fas fa-map-marker-alt me-2"></i> Kalaiya</a>
              </li>
              <li class="menu-item"><a href="#" class="nav-link"><i class="fas fa-map-marker-alt me-2"></i> Kolbhi</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Fifth Column (Developer Info) -->
        <div class="col-lg-2 col-md-4 col-sm-12 mb-4 d-none d-md-block">
          <div class="footer-menu text-center">
            <img src="{% static 'MainApp/images/logo/user.png' %}" alt="logo" style="width: 100px;" />
            <h5 class="text-muted p-2 " style="font-size:15px;">Vasant Chaw</h5>
            <div class="social-links mt-3">
              <ul class="d-flex list-unstyled justify-content-center gap-3">
                <li><a href="#" class="btn btn-outline-light"><i class="bi bi-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/vasantachaw/" target="_blank" class="btn btn-outline-light"><i
                      class="bi bi-linkedin"></i></a></li>
                <li><a href="#" class="btn btn-outline-light"><i class="bi bi-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>

  <div id="footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 copyright">
          <p>© 2025 Gauley. All rights reserved.</p>
        </div>
        <div class="col-md-6 credit-link text-start text-md-end d-none">
          <p>
            Free HTML Template by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distributed by <a
              href="https://themewagon">ThemeWagon</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'MainApp/js/jquery-1.11.0.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

  <script src="{% static 'MainApp/js/plugins.js' %}"></script>
  <script src="{% static 'MainApp/js/script.js' %}"></script>
  <script src="{% static 'MainApp/js/cartScripts.js' %}"></script>
  <script src="{% static 'MainApp/js/htmx.min.js' %}"></script>
  <script src="{% static 'MainApp/js/popper.min.js' %}"></script>
  <script src="{% static 'MainApp/js/coreui.min.js' %}"></script>
  <script src="{% static 'MainApp/js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'MainApp/js/bootstrap.bundl.min.js' %}"></script>



</body>

</html>